<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recherche</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<div class = "container my-2">
    <table border="1" class = "table table-striped table-responsive-md">

        <table border="1" class = "table table-striped table-responsive-md">
            <thead>
            <tr>
                <th><p> Votre recherche</p></th>
                <th><p> Modification</p></th>
            </tr>
            </thead>
        <tbody>
        <tr th:each="artist : ${artistList}">
            <td th:text="${artist.name}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${artist.id})}" class="btn btn-primary">Modification</a>
                <a th:href="@{/deleteArtist/{id}(id=${artist.id})}" class="btn btn-danger">Supprimer</a>
                <a th:href="@{/artist/{id}(id=${artist.id})}" class="btn btn-primary">Albums</a>
            </td>
        </tr>
        </tbody>

        </table>
</div>
</body>
</html>