<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des Artists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
                                                    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
                                                    crossorigin="anonymous">
</head>
<body>
    <div class = "container my-2">
        <h1> Artists List</h1>

        <div>
            <h2>Ajouter un artiste</h2>
            <form action="#" th:action="@{/saveArtist}" th:object="${artist}" method="POST">
                <input type="text" th:field = "*{name}" placeholder="Nom de l'artiste" class="form-control mb-4 col-4">

                <button type="submit" class="btn btn-info col-2">Enregistrer l'artiste</button>
            </form>
        </div>

        <div>
            <h2>Rechercher un artiste</h2>
            <form action="#" th:action="@{/findByName}" th:object="${art}" method="POST">
                <input type="text" th:field = "*{name}" placeholder="Nom de l'artiste" class="form-control mb-4 col-4">

                <button type="submit" class="btn btn-info col-2">Enregistrer l'artiste</button>
            </form>
        </div>

        <table border="1" class = "table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Id de l'artiste</th>
                    <th>Nom de l'artiste</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="artist : ${listArtists}">
                    <td th:text="${artist.id}"></td>
                    <td th:text="${artist.name}"></td>
                    <td> <a th:href="@{/showFormForUpdate/{id}(id=${artist.id})}" class="btn btn-primary">Modification</a>
                        <a th:href="@{/deleteArtist/{id}(id=${artist.id})}" class="btn btn-danger">Supprimer</a>
                        <a th:href="@{/artist/{id}(id=${artist.id})}" class="btn btn-primary">Albums</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
                <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage != 1}" th:href="@{'/page/' + ${currentPage - 1}}">Before</a>
                    <span th:unless="${currentPage != 1}">Before</span>
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>
                <div class = "col-sm-1">
                    <a th:href="@{'/page/1'}">First</a>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>

        </div>


    </div>

</body>
</html>