<<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modification d'un artiste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Gestion Artiste</h1>
        <hr>
        <h2>Ajout d'un artiste</h2>

        <form action="#" th:action="@{/saveArtist}" th:object="${artist}" method="POST">

            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field = "*{name}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2">Modifier l'artiste</button>
        </form>

        <hr>

        <a th:href = "@{/}">Retourner à la liste des artistes</a>
    </div>
</body>
</html>